---
import config from "@/config/config.json";

const { className = "" } = Astro.props;
const { giscus } = config;
---

{
  giscus.enable && (
    <div class={`giscus-wrapper ${className}`.trim()}>
      <script
        src="https://giscus.app/client.js"
        data-repo={giscus.repo}
        data-repo-id={giscus.repo_id}
        data-category={giscus.category}
        data-category-id={giscus.category_id}
        data-mapping={giscus.mapping}
        data-strict={giscus.strict}
        data-reactions-enabled={giscus.reactions_enabled}
        data-emit-metadata={giscus.emit_metadata}
        data-input-position={giscus.input_position}
        data-theme={giscus.theme}
        data-lang={giscus.lang}
        data-loading={giscus.loading}
        crossorigin="anonymous"
        async
      ></script>
    </div>
  )
}
